[2021-03-17 12:20] github-actions opened #1 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-03-17 12:23] #1 closed, assigned to nobody

[2021-03-21 04:45] inian opened #2 "enable RLS for migrations table"

[2021-03-21 04:46] inian opened #3 "enable RLS for buckets table"

[2021-03-22 10:24] #2 closed, assigned to nobody

[2021-03-22 19:17] inian opened #4 "Explore partitioning the objects table"
Postgres native partitioning might be useful when there are millions of rows in the object table. If we partition by bucket_id, all API operations can just operate on a single partition.

Another advantage is one huge bucket shouldn't affect the query performance of another bucket.

I think we can use the list partition. New partitions can be dynamically created when new buckets are created (in th

[2021-03-25 10:22] #3 closed, assigned to nobody

[2021-03-30 18:47] inian opened #5 "Use http.Agent to speed up S3 calls"
A http agent can be used to keep a set of connections open to S3. By default, a new connection is created each time S3 is accessed which is not ideal.

https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/node-reusing-connections.html

[2021-03-30 18:50] inian opened #6 "Tighten number of policies required"
Policies for the following API calls can be reduced either by using Postgrest `minimal` representation or by using serviceKey in postgrest requests accordingly.

This will align more closely to user's mental model of what the policies should be. For example, createBucket should only require insert policy on the `buckets` table and not the select policy as well.

[code]

[2021-03-31 05:52] inian opened #9 "Default limit for listObjects not working"
We have a default limit of 100 [here](https://github.com/supabase/storage-api/blob/8bbfefb7476e324b9eb2c1bdf621374577f60b76/migrations/0002-pathtoken-column.sql#L3) but it is not being taken into account

https://github.com/supabase/supabase/discussions/996

[2021-03-31 15:14] libovness opened #10 "Folders in storage buckets are disappearing"
# Bug report

## Describe the bug
Folders in storage buckets are disappearing

## To Reproduce
1. Go to Storage tab
2. Create a bucket
3. Create a sub-folder
4. Refresh page
5. *Sub-folder has disappeared*

## Expected behavior
Sub-folder would still be there

## System information

- OS: macOS
- Browser: Chrome

[2021-04-01 04:07] inian commented on #9
Fixed in https://github.com/supabase/supabase-js/commit/45780d4a18ded75d616546b7b89995ba995bda05

[2021-04-01 04:07] #9 closed

[2021-04-01 08:48] inian opened #11 "Add RLS tests for buckets"
We do not have tests checking if RLS policies are properly respected for the buckets table.

We have tests for the object table for this ([example](https://github.com/supabase/storage-api/blob/514899eb2d0f1823abc95d497f2e801978cc49ff/src/test/object.test.ts#L94)). The tests for the bucket table will be similar.

[2021-04-01 08:51] inian opened #12 "Fix extension function"
Right now the `extension` function [returns the second part](https://github.com/supabase/storage-api/blob/514899eb2d0f1823abc95d497f2e801978cc49ff/src/test/db/02-storage-schema.sql#L74) of the filename after splitting by `.`.

Instead the last part should be returned so that the extension for the file `cat.meme.jpg` is returned as `jpg` and not as `meme`.

[2021-04-02 17:47] peachp opened #13 "Allow uploading from URL"
# Feature request

## Is your feature request related to a problem? Please describe.
We receive thousands of photos in original quality, typically via Dropbox or other service which can transfer files to Dropbox via the backend "internet highway". Currently we can select photos directly from Dropbox when adding them to Airtable, bypassing the slow down/upload connections to/from my team's laptops.

[2021-04-02 19:42] YashKandalkar commented on #12
@inian Hello!
I wanted to fix this, I didn't knew a lot about psql functions but from what I searched, this works:
[code]
(or making a `_extension` var and returning that)

I have only tested this in a sql editor, not inside this repo, as you need to have an aws s3 instance to develop (right?)
I tried running `npm test` only after renaming `.env.sample` to `.env`, same with .env.test but got
[code

[2021-04-04 10:36] inian commented on #12
Hey Yash,

Yup something like that regex should work. You will need a AWS S3 bucket and AWS credentials setup. I have updated the README recently. Let me know if something is not clear from that.

Can you try again by renaming `.env.test.sample` to `.env.test` also?

[2021-04-12 15:43] inian opened #16 "Make object upload size limit configurable"
Right now, this is configured on server startup and is set to 50 MB on the Supabase hosted platform. We will need a way to expose this to users.

[2021-04-19 00:27] inian opened #17 "Allow objects / buckets to be fully public"
There are use-cases where users would want to access an object without creating a signed URL.
- Once we launch CDN integration, you can upload your static assets to supabase storage. Accessing it via a SignedUrl is messy.
- There have been [other](https://github.com/supabase/supabase/discussions/1146#discussioncomment-610034) [requests](https://github.com/supabase/supabase/discussions/1003) from u

[2021-05-09 04:14] horizon0708 opened #18 "createObject does not set cacheControl"
# Bug report

## Describe the bug

TL;DR When I upload an object to storage via storage-js, the API doesn't care about the cache-control value.

At the moment, when you call `upload()` from the Supabase client, it sets the default cache-control field to 3600 (https://github.com/supabase/storage-js/blob/main/src/lib/StorageFileApi.ts#L15). The API should take this field and set that as max-age (htt

[2021-05-09 09:13] horizon0708 commented on #18
The way I'm getting around this atm is to implement/use caching on your app. I'm using [react query](https://react-query.tanstack.com/). I have something like:

[code]
then I pass the query function to react-query with options (note staleTime).
[code]
This means that the fetch for an object is cached for an hour (as long as the user doesn't reload the app), so the user won't have to redownload the

[2021-05-14 10:13] inian opened #20 "Support byte range requests"
Will be useful for users storing video etc on storage.

context [here](https://github.com/supabase/supabase/discussions/1558)

[2021-05-17 02:02] inian opened #21 "Support upsert functionality"
More info - https://github.com/supabase/storage-js/issues/7

[2021-05-17 22:41] logikaljay commented on #5
@inian It appears as if `keepAlive: true` is the default in the NodeHttpHandler that the s3-client uses:

https://github.com/aws/aws-sdk-js-v3/blob/49e2d61c809d20ae444d49c7f6c4e997da7cca74/packages/node-http-handler/src/node-http-handler.ts#L44

[2021-05-18 13:54] inian commented on #20
From our community slack channel
[code]

[2021-05-18 14:19] #5 closed

[2021-05-18 16:22] #17 closed

[2021-05-19 00:29] horizon0708 commented on #18
Checked after updating to 1.11.3. Still happening.

[2021-05-19 03:31] horizon0708 commented on #18
Did some digging just now. The issue is because the controller is calling `.file()`
[code]
This calls [this part of fastify](https://github.com/fastify/fastify-multipart/blob/d6159731892a694b8f91c81ea12ca76f41eee9ec/index.js#L487-L499)
[code]
As you can see, this only loads files, never loading field - thus
[code]
will never have a value.

The solution would be to use `parts()` API that returns an

[2021-05-19 05:11] inian commented on #18
Thanks for digging into this @horizon0708. Looks like the non file values need to be sent _before_ the file fields as mentioned [here](https://github.com/fastify/fastify-multipart/issues/146#issuecomment-681874488) and it is the intended behaviour. Fixing in supabase-js

[2021-05-19 05:13] #18 closed

[2021-05-19 05:28] inian commented on #18
Can you try with supabase-js 1.11.14 James?

[2021-05-19 05:39] horizon0708 commented on #18
I think it's working! Thanks for a quick update, looks like I was completely off the mark with https://github.com/supabase/storage-api/issues/18#issuecomment-843717897😅
![image](https://user-images.githubusercontent.com/22534929/118761712-02cf2800-b8c9-11eb-82ab-b430a1cf1022.png)

[2021-05-19 05:41] inian commented on #18
I thought it might have to do with something with Fastify as well till I realised that it was working with when I sent the request via Postman but not via supabase-js

[2021-05-22 12:06] inian opened #22 "API route clash with existing buckets named public or sign"
[User report](https://github.com/supabase/supabase/discussions/1676)

So there are three different ways to access objects now

`/object/avatars/grumpy.jpg` -> `getObject` -> needs auth header
`/object/sign/avatars/grumpy.jpg` -> `getSignedObject` -> needs token query param
`/object/public/avatars/grumpy.jpg` -> `getPublicObject` -> needs bucket to be public

We need a better way to disambiguate do

[2021-05-22 12:27] inian commented on #22
Options

## Change getObject to start with `/object/auth`
- `/object/auth/avatars/grumpy.jpg` -> `getObject` -> needs auth header
- `/object/sign/avatars/grumpy.jpg` -> `getSignedObject` -> needs token query param
- `/object/public/avatars/grumpy.jpg` -> `getPublicObject` -> needs bucket to be public

Advantage is that is aligns more closely with `/sign` and `/public` in terms of URL structure. Bu

[2021-05-24 04:38] inian opened #23 "Upload and download progress events."
[Feature request](https://github.com/supabase/supabase/discussions/1073#discussioncomment-772503)

How do we go about emitting these events from the server? Does S3 support this natively? What about other storage backends like Backblaze? I do not want to add S3 only features to our server if possible.

[2021-05-24 08:04] mgm1313 commented on #23
The `@aws-sdk/lib-storage` library [exposes](https://github.com/aws/aws-sdk-js-v3/blob/main/lib/lib-storage/README.md) an `.on('httpUploadProgress', (progress) => {})` method on the `Upload` instance. This `progress` object contains the `loaded` and `total` bytes of the request.

I'm not quite sure on Backblaze's capabilities to expose the upload progress. But from their docs they [claim to have a

[2021-05-26 10:20] #22 closed

[2021-05-27 08:58] alanbar commented on #16
It would be nice to restrict files to a certain size for conformity on reports etc
Or is there software available to do this in the browser?

[2021-05-27 09:03] inian commented on #16
You can do this in the browser via JavaScript @alanbar. [Here](https://stackoverflow.com/questions/3717793/javascript-file-upload-size-validation) are a few ways in which you can do it.

[2021-06-05 16:00] heromiyo opened #25 "Migrations failing to run"
# Bug report

## Describe the bug

Migrations are failing to run when starting the storage server

A clear and concise description of what the bug is.

Stopping storage-api_rest_1 ... done
Stopping storage-api_db_1   ... done
Removing storage-api_rest_1 ... done
Removing storage-api_db_1   ... done
Removing network storage-api_default
Creating network "storage-api_default" with the default driver

[2021-06-07 03:36] inian commented on #25
Hi @heromiyo, this happens if you don't have the search path set correctly. Can you ensure that the .env.sample file has been copied to .env and there is a PGOPTIONS [in your .env file](https://github.com/supabase/storage-api/blob/8a08d3a0f27434877b49978b12d7996d1a97c9df/.env.sample#L9)?

[2021-06-08 07:54] #25 closed

[2021-06-10 03:27] #20 closed

[2021-06-12 03:44] inian opened #27 "Replicate underlying objects to a user-provided S3 bucket"
We should make it easy for users to export their objects. Also useful for backups etc.  We can probably use the [S3 replication functionality](https://docs.aws.amazon.com/AmazonS3/latest/userguide/replication.html) to do this.

Relevant discussion https://github.com/supabase/supabase/discussions/1930

[2021-06-12 07:19] ankitjena commented on #21
@inian Is this issue being worked on or can I take it up?

[2021-06-12 07:36] inian commented on #21
Go for it @ankitjena! Let me know if there are any issues in getting started.

[2021-06-13 08:31] ankitjena commented on #21
Hey @inian , the readme says to only set `GLOBAL_S3_BUCKET` and `REGION`, in the `.env` and set up the aws config. What about the other fields in the `.env` field?
- The `ANON_KEY`, `SERVICE_KEY`, `PROJECT_REF`  are we supposed to use those from project created in supabase
- Also how do I test it using and api client, looking at the code I think an authorization header was required

Thanks

[2021-06-13 11:21] heauton commented on #16
Just to be clear, when using js library https://supabase.io/docs/guides/storage#upload-a-file
I can't upload more than 50mb. Is this correct? Is there a workaround to increase upload size for now? @inian

[2021-06-14 06:56] inian commented on #16
Hi @heauton,

yup thats right

Reach out to beta@supabase.io if you want to increase it for your project. If you are self hosting, change [this value](https://github.com/supabase/storage-api/blob/74d8d6388511aa2abaecb39601b898df21d9fd90/.env.sample#L10) and restart the server.

I am keeping this issue open to track doing this from the dashboard

[2021-06-14 21:21] inian commented on #21
Hi @ankitjena, you don't need to change any other variables in the .env file. This sets up a full local environment and apart from a S3 bucket, you don't need anything external like a Supabase Project to begin development.

I have updated the README to add some instructions on local testing and the API docs are [here](https://supabase.github.io/storage-api/#/). Can you pull from master and give it

[2021-06-15 03:44] ankitjena commented on #21
@inian The create bucket and get buckets API works, I was trying to create an object and it returns this error to me
[code]
Something I am doing wrong here?

[2021-06-15 03:51] inian commented on #21
You will need to add RLS policies to get around this permission issues Ankit. For local dev, you can use [the service key](https://github.com/supabase/storage-api/blob/90af22f9238dd380651d58fbe19ec0906638fd37/.env.sample#L2) instead which bypasses RLS

[2021-06-15 03:54] ankitjena commented on #21
That worked. Thanks. I will work on the issue for now.

[2021-06-15 13:07] difelice commented on #25
I'm having similar issue running a container from `supabase/storage-api`, migrations worked fine, and `PGOPTIONS` is in the final `env` list, but for some reason it's still requesting on the `public` schema:

Docker Compose logs:
[code]

[code]

[code]

Thanks.

[2021-06-15 13:25] inian commented on #25
Hi @difelice, can you check if postgrest has storage in `PGRST_DB_SCHEMA` like [here](https://github.com/supabase/storage-api/blob/8a08d3a0f27434877b49978b12d7996d1a97c9df/src/test/db/docker-compose.yml#L11)

[2021-06-15 13:30] difelice commented on #25
Thank you! That was it. I missed completely from the `supabase` PR. 🤗

[2021-06-15 13:34] inian commented on #25
Glad its sorted :)

[2021-06-15 17:40] ankitjena commented on #21
@inian Created a PR

[2021-06-21 07:50] #21 closed

[2021-06-22 14:18] inian opened #33 "Storage API: PUT 'the request is not multipart'"
### Discussed in https://github.com/supabase/supabase/discussions/2051

<div type='discussions-op-text'>

<sup>Originally posted by **creativiii** June 22, 2021</sup>
I'm so sorry, I know I just opened a discussion but as soon as I fixed that I ended up bumping into another problem with the same endpoint but with the `PUT` method.

[code]

Response is:

[code]

I tried setting my `Content-Type` to

[2021-06-23 14:33] libovness opened #36 "Missing field error if you leave BOOL as the field type"
# Bug report

## Describe the bug
I add a new column to a table via the UI. I want that column to be a BOOL. I set 'false' or 'true' as the Default Value (this part doesn't really matter) and get `Error for input at Type: Field cannot be blank` even though the selected value is `bool`

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to Table E

[2021-06-23 14:34] libovness commented on #36
my bad i added this to `storage api` repo by accident, will re-create in the appropriate repo

[2021-06-23 14:34] #36 closed

[2021-06-28 02:30] inian opened #38 "Support unicode characters in file name"
Come up with a clear policy on what valid file, folder and bucket names can be. What does S3 support? Any issues with Postgres?

[2021-07-01 08:01] Rungrot19 opened #39 "> > # รายงานจุดบกพร่อง"
_Originally posted by @Rungrot19 in https://github.com/supabase/postgres-meta/issues/124#issuecomment-871562086_

[2021-07-01 08:02] Rungrot19 commented on #39
/*
	get_recent_changes.js

	MediaWiki API Demos
	Demo of `RecentChanges` module: Get the three most recent changes with sizes and flags

	MIT License
*/

var params = {
		action: 'query',
		list: 'recentchanges',
		rcprop: 'title|ids|sizes|flags|user',
		rclimit: '3',
		format: 'json'
	},
	api = new mw.Api();

api.get( params ).done( function ( data ) {
	var recentchanges = data.query.recentchange

[2021-07-01 08:08] #39 closed

[2021-07-01 15:49] creativiii opened #40 "Storage PUT returning an error"
# Bug report

## Describe the bug

The PUT method used for updating storage files is failing with a cryptic error:

[code]

## To Reproduce

[code]

The above code works perfectly with the `POST` method so I assume it's not something wrong with my code? Swagger mentions needing a project's `projectRef`, I assume that's the random string I can find in my url when viewing a project on Supabase?

##

[2021-07-01 16:10] inian commented on #40
I will look into this closer tomorrow @creativiii but for now can you try sending the `Content-Type` and `Content-Length` header?

[2021-07-02 06:59] creativiii commented on #40
Thank you for the quick reply! Node isn't crashing, I've tried both `Content-Type` and `Content-Length` but the error stayed the same.

Let me know if you figure out anything or need more info!

[2021-07-10 09:47] fenix-hub opened #43 "text/plain and application/json MIME type not uploaded in Storage Buckets"
# Bug report

## Describe the bug

`text/plain` and `application/json ` MIME type are uploaded in Storage Buckets as empty files.
Whereas changing them to `text/script` and `text/json` makes them to be uploaded successfully as text files.

## To Reproduce

1. Create a non-empty text file as `new_file.txt`
2. Upload the file with REST APIs
[code]
3. File is uploaded as empty
4. Change the `Content-

[2021-07-13 07:10] thebengeu commented on #43
Thank you @fenix-hub for your detailed bug report! #44 should fix this.

[2021-07-14 02:09] inian opened #46 "Return number of objects in a "folder""
Will be useful for pagination etc

More context [here](https://github.com/supabase/infrastructure/issues/1338#issuecomment-879295819)

[2021-07-15 04:57] #43 closed

[2021-07-15 06:12] #10 closed

[2021-07-15 06:19] thebengeu commented on #10
Hi @libovness, the fix for this issue will be deployed in about a week.

[2021-07-15 06:56] fenix-hub commented on #43
Thanks, I'll test it as soon as the new version will be released :)
If you need any other information about this topic, you can refer to this https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types

[2021-07-15 07:07] inian commented on #40
Hi @creativiii, have not been able to reproduce this error with node v16.3. Does running your Node script you provided result in the crash? Which node version are you using?

[2021-07-15 10:05] creativiii commented on #40
I had tested this on Node 12 and 14 and I was getting the error. I haven't looked at the code since posting this issue but trying it now on both Node 12, 14 and 16 I'm not getting the error anymore.

Did you guys fix something on your end? Oh well 😂

[2021-07-15 10:13] inian commented on #40
Oh not sure..We didn't update the storage version in prod in the last 2 weeks, but glad to know it is fixed! Will close the issue for now then.

[2021-07-15 10:13] #40 closed

[2021-07-16 10:13] inian commented on #10
This has been now deployed to prod @libovness

[2021-07-19 14:42] sandbox-apps opened #47 "Asset optimization"
# Feature request
Add an ability to compress Image, Audio and Video in optimizable size.
Similar to: https://firebase.google.com/products/extensions/storage-resize-images

[2021-07-20 08:10] inian opened #49 "Docs GH action dont seem to finish"
https://github.com/supabase/storage-api/actions/runs/1048066994

[2021-07-20 09:19] #49 closed

[2021-07-20 12:46] inian opened #55 "REGION and GLOBAL_S3_BUCKET are not required"
when the storage backend is file

update the local hosting setup after that

[2021-07-27 17:14] mcmx commented on #46
@inian the more context links to supabase/infrastructure (maybe a private repo), can you post more info here?

[2021-07-29 07:52] inian opened #60 "Handle If-Modified-Since or If-None-match"
Right now we send cache-control with a max-age header. This is enough if there is a CDN in front of our API which take care of handling 304s if the object hasn't changed.

But since we don't have a CDN yet, we need to implement this logic ourselves. The fix should be pretty simple - just pass the If-Modified-Since or If-None-match headers from the request on to S3. S3 Should send back a 304 based

[2021-08-02 07:28] d-mok commented on #27
Is there any update on this? The lack of backup-from-supabase-storage function is stopping me to use supabase storage.

[2021-08-02 07:37] inian commented on #27
Hi @d-mok, we couldn't find an easy way of doing this with the S3 replication functionality above since there there is a [limit](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/s3api/put-bucket-replication.html) of 1,000 replication policies per bucket which doesn't work at our scale.

If you have any ideas on how to go about implementing this in a multi-tenant way, let me know!

[2021-08-03 03:01] ornithophile commented on #27
@inian Hi, are there any other plans for syncing files out of Supabase Storage?

[2021-08-09 01:32] d-mok commented on #27
@inian
Then, may be the direction to go is to allow users to provide their own S3 bucket? Like, a bring-your-own-bucket approach?

[2021-08-09 01:35] ornithophile commented on #27
This would be perfect.

On Sun, Aug 8, 2021, 6:32 PM d-mok ***@***.***> wrote:

[2021-08-10 03:40] thebengeu commented on #27
What I'm thinking is to have a new replication section in the UI where you can enter an access key ID and secret access key for an AWS IAM user, and a bucket, and then we'll regularly replicate to that bucket. How does that sound?

[2021-08-11 08:57] liaujianjie opened #65 "Unable to delete `auth.users` row due to `objects_owner_fkey` FK constraint"
# Bug report

## Describe the bug

When a user uploads an object to a bucket, the object's row in `storage.objects` has a column `owner` that has a FK constraint `objects_owner_fkey` to `auth.users.id`. However, it's not set up with `on delete {cascade|set null}`—which prevents the user from actually being deleted.

Attempting to delete a user with a `storage.object` referencing the user results i

[2021-08-12 04:19] thebengeu commented on #60
To clarify, this is for `/public/:bucketName/*` and `/sign/:bucketName/*`, where the browser could handle the If-Modified-Since or If-None-match headers, but not `/authenticated/:bucketName/*` and `/:bucketName/*`, where we'd be handling the headers ourselves?

[2021-08-12 05:59] inian opened #64 "add a precommit hook to validate commit messages"
it's annoying that commits dont get picked up by our semantic-commit-analyser plugin and they are not reflected properly in our changelog. our version number is also not bumped and we need to do fake commits like [this](https://github.com/supabase/storage-api/commit/87d45fdb0a3930bdf921bc5b54af1e8ca833ad03).

We should have a pre commit hook (via [husky](https://www.npmjs.com/package/husky)?) to v

[2021-08-12 10:54] inian commented on #65
Thats a good point Jian. I will add a trigger to make the owner as null in storage.objects when a row is deleted from auth.users.

[2021-08-16 08:12] thebengeu commented on #60
Decided to handle If-Modified-Since or If-None-match headers for `/authenticated/:bucketName/*` and `/:bucketName/*` too for consistency.

[2021-08-17 02:29] mcewen87 commented on #65
Hi @inian

As I understand, the solution to this is to add this SQL

[code]

[2021-08-17 02:53] inian commented on #65
I haven't tested it out on an actual project but that does seem like it would work @mcewen87. The constraint is in place so that each storage owner is linked to an auth user and cos owner field shouldn't be any UUID.

[2021-08-17 02:55] mcewen87 commented on #65
Thank you! I'll give it a try.

[2021-08-17 06:20] #60 closed

[2021-08-19 18:55] mblog opened #67 "Last modified timestamp will not update after update"
# Bug report

## Describe the bug

A replacment of a file with upload (upsert: true) or update will not update the last modified timestamp. The file itself has been updated.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

[code]

## Expected behavior

A replacement of a file should update the timestamp.

## System information

supabase-js 1.22.0

[2021-08-22 16:52] XbIK opened #68 "file size"
is there a way to get Storage file info before downloading (size, update date)?

[2021-08-30 03:57] inian opened #71 "Push arm image also to dockerhub"
Right now we only push arm image to our ECR
Will be needed for https://github.com/supabase/supabase/issues/2954

[2021-09-08 10:11] d-mok commented on #27
So we (users) provide a S3 bucket, and supabase regularly backup everything to that bucket? That sounds good enough.
But I think a better option is to allow user to bring-their-own-bucket. In this way, I can interact with my bucket both through supabase or via some other s3 client. It would be best if, for example, when I add a file to my bucket through another client, supabase can also register t

[2021-09-08 15:15] tehnorm commented on #27
I'd mirror what @d-mok is expressing. Bring your own S3 bucket is very useful for cases that data governance is a consideration as well. Usually for larger organizations have these challenges. It seems lately many SaaS offers do provide a bring-your-own-bucket model.

[2021-10-02 13:31] bariqhibat commented on #12
Hey @inian, is this issue resolved already by @YashKandalkar? If not, can I give it a shot?

[2021-10-03 04:08] inian commented on #12
Go ahead @bariqhibat! I haven't tested @YashKandalkar's solution, so even if you can help test it out, it will help.

[2021-10-03 10:52] bariqhibat commented on #12
I do a little bit of research on this, and found this to be a good solution
[code]

[2021-10-05 17:41] grschafer commented on #27
Another vote in favor of bring-your-own-bucket: I think it would allow us to manage data transfer costs better (e.g. keeping transfers within AWS infrastructure in the same region and AZ) which is important for data/processing-heavy applications.

I opened a separate discussion about same-region transfer costs (https://github.com/supabase/supabase/discussions/3403) to not distract from the replica

[2021-10-05 18:34] grschafer commented on #68
Just saw this issue -- it's been a long time since you asked it so maybe you've found a way already, but I figured I'd share an idea.

You could create a view in the public schema that exposes some of the data in the `storage.objects` table, for example:

[code]

then you could make requests to `/rest/v1/objects` to get that info:

[code]

I _think_ this approach would apply RLS policies if you ha

[2021-10-07 16:59] 97amarnathk commented on #64
I can pick this up.

[2021-11-05 12:08] wiemann opened #80 "add tus - open protocol for resumable uploads"
In order to successfully upload large files, resuming paused/interrupted uploads is usually a requirement.

Do you plan on supporting something like tus ? https://tus.io/

[2021-11-08 02:15] juanzgc opened #86 "Upload File Storage - Nextjs"
# Bug report

## Describe the bug

I'm currently attempting to Upload an Image from my Nextjs Server, and each time I upload the image to Supabase the file size is only 15 bytes (unreadable).

However, when I console log the file in my server, the size shows 181kb.

## To Reproduce

Client
[code]

Backend
[code]

Middleware for Nextjs Multipart/form-data
[code]

My File (Image) - Console log
[code

[2021-11-09 04:46] #12 closed

[2021-11-18 01:00] grschafer commented on #23
Having upload progress would be helpful! I've looked into this a little bit and wanted to document my findings and thought process to hopefully advance this idea further.

The `httpUploadProgress` event in the AWS library is a good find! It seems like the difficulty would be passing those events back to the client somehow. Given that the `storage-api` API is a single POST request to `/storage/v1/o

[2021-11-18 21:15] grschafer commented on #23
In case it's helpful for others, here's an approach for getting upload progress with XMLHttpRequest in the browser.

In place of:
[code]

you could instead do the below:
[code]

Some of the code above is directly from [MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Using_XMLHttpRequest#monitoring_progress).

Note that events for listening to uploads are on [XMLHttpReques

[2021-11-19 09:05] etiennedupont opened #81 "Signed urls for upload"
# Feature request

## Is your feature request related to a problem? Please describe.

At [Labelflow](https://github.com/Labelflow/labelflow), we developed a tool to upload images on our Supabase storage, based on one nextJs API route. The goal is for us to abstract the storage method from the client-side by querying a generic upload route to upload any file and to ease the permission management. I

[2021-11-24 19:05] andrashann commented on #21
@inian can you explain what row-level policies I should add (presumably to the "Other policies under storage.objects" section)? I want the following simple rule actually work for insert/update/delete on the frontend (so no service key), but I get the same error as @ankitjena when I use `upsert: true`

[code]

[2021-11-27 05:15] kk21 opened #82 "Allow security policy to upload (upsert true), update and remove storage.objects without requiring Select permission"
# Feature request

## Is your feature request related to a problem? Please describe.

I want to set security policies to allow the user to upload (upsert true), update and remove storage.objects, but not allowed to download.
I do not want to give the Select permission which is currently required for upload (upsert true), update and remove.

## Describe the solution you'd like

Please review the ne

[2021-11-27 05:28] kk21 commented on #23
Since S3 provides signed urls for upload:
https://docs.aws.amazon.com/AmazonS3/latest/userguide/PresignedUrlUploadObject.html

Is it possible for storage-api to call this and give us the url?
We can then try to upload to this url directly and probably able to track progress using e.g. axios on the web client.

[2021-12-03 05:09] inian commented on #82
Hi @kk21, I have a related issue [here](https://github.com/supabase/storage-api/issues/6).

Trying to understand your usecase better here. You want to users to upload objects, but not view the objects they uploaded?

[2021-12-03 05:17] kk21 commented on #82
I have one upload folder for each user to upload files, and also overwrite existing files and maybe delete. These are input files e.g. csv files for processing. So there is no need to allow for download to save on download transfer charges or "misuse" as personal backup / store / distribution.

I have another download folder for each user to download files meant for each user.

[2021-12-09 20:56] samandarco commented on #13
please

[2021-12-14 11:05] kro-dev commented on #27
I’d also like to see BYOB!

[2021-12-27 16:09] bruceharrison1984 commented on #67
I ran into this today as well with `1.29.0`

[2022-01-18 08:24] joshenlim opened #88 "Add support for search in bucket"
# Feature request

Relevant PR: https://github.com/supabase/supabase/pull/4961

Searching for storage in the dashboard at the moment is a client side search - we do a name string search against what was already fetched from the API

As we're looking to introduce infinite scrolling to the dashboard, this means that we won't (be attempting to) pull all of the folder contents when the user clicks on

[2022-01-18 12:34] #71 closed

[2022-01-27 18:37] bdthombre commented on #47
Surely for the bigger projects this will be helpful

[2022-02-01 22:05] millette commented on #80
Should be possible with <https://github.com/tus/tus-node-server> and <https://github.com/fastify/middie>.

[2022-02-07 06:32] darora commented on #64
I'd much rather have a CI check for this rather than husky running on every commit. It's also the standard approach we're using across the org.

[2022-02-17 20:58] grschafer opened #105 "emptyBucket ignores postgrest deleteError"
# Bug report

## Describe the bug

If you call emptyBucket on a bucket and there is some postgrest error for the delete operation, the error is logged (somewhere :man_shrugging:) but not reflected in the emptyBucket response at all, leaving the user with a `{"message": "Successfully emptied"}` response and a bucket that hasn't been emptied.

Some links:
- storage-api code where deleteError is unha

[2022-02-21 02:59] thebengeu commented on #105
Thanks @grschafer for your bug report! We'll look into it.

[2022-02-23 02:13] grschafer opened #107 "File backend crashes on deleteObjects"
# Bug report

## Describe the bug

The `deleteObjects` implementation for the file backend crashes on the `fs.rm` call:

https://github.com/supabase/storage-api/blob/30b3cb50295d72d2816e98f2c345d9ca5ab59539/src/backend/file.ts#L90

The reason, from what I can tell, is that the version of fs-extra in use ([8.1.0](https://github.com/supabase/storage-api/blob/30b3cb50295d72d2816e98f2c345d9ca5ab59539/

[2022-02-23 05:13] inian opened #108 "Add the initial schema as a migration"
Instead of relying on worker or the cli to set it up. Makes it easy to use the storage-api as a standalone server without relying on other components of our stack.

[2022-02-23 15:08] icnahom commented on #55
Are these not required even if someone self-hosts supabase and wants to wire in a different storage backend? I was wondering how I can achieve this, is it even possible?

[2022-02-23 23:01] darora opened #109 "More usable request log configuration"
The default request logs produced by fastify are-whilst comprehensive-excessively verbose. We should disable them ( https://www.fastify.io/docs/latest/Reference/Server/#disablerequestlogging ) and add in custom hooks to output something more minimal (eg using what nginx output's as a baseline would be pretty decent).

Here's an example of the current logs (redacted if needed, though it's just a he

[2022-02-24 14:44] inian opened #110 "Throw an error in createObject if bucket doesn't exist"
No error is thrown if a user uploads an object to a non existent bucket https://github.com/supabase/supabase/issues/5637

[2022-02-24 22:53] ahmedabdelhafez opened #111 "Cannot Delete image from bucket"
Hello dears,
i have 2 days trying to delete an image from the bucket
1- the bucket is private
2- the bucket name is => images
3- i try multiple things and all fails

**here is my code used to delete the image:**

   deleteImage(bucked: string, imageId: string) {
        return this.supabaseConfig
            .getSupabaseClient()
            .storage.from(bucked)
            .remove([`${imageId}`])

[2022-02-25 05:27] inian commented on #111
Are you using the anon key or service key here @ahmedabdelhafez? if you are using the anon key, you may need to allow access by adding the right RLS policies in your dashboard

[2022-02-25 09:01] thebengeu commented on #109
After updating Fastify in #112, the default logging is much less verbose:
[code]
[code]

[2022-02-25 09:01] #109 closed

[2022-02-25 10:58] ahmedabdelhafez commented on #111
Hello @inian I am using the example in the docs, the problem also it give me ok that the item is deleted but when move to the supabase storage I found that the image is not deleted

[2022-02-26 04:49] inian commented on #111
Can you share a reproducible example? If you don't want to share the exact code here, feel free to send us a support ticket with the project ref, key and the code you are using at https://app.supabase.io/support/new

Thanks!

[2022-02-26 18:54] ahmedabdelhafez commented on #111
hello @inian here is the code example i put the code in the service and pass parameters to the function
`deleteImage(bucked: string, imageId: string) {
return this.supabaseConfig
.getSupabaseClient()
.storage.from(bucked)
.remove([${imageId}]);
}`

[2022-02-26 19:36] ahmedabdelhafez commented on #111
and also i want to say that the bucket is private and i can upload image to it but the download i cannot do it

[2022-02-27 03:19] inian commented on #111
Are you using the anon key or service key here? if you are using the anon key, can you share the current RLS policies you have on the storage schema?

Might be easier to debug if you share the url you are trying to access / delete

[2022-03-01 17:47] bennettdams opened #120 "[Storage] [Feature request] Programmatically handle/bust Supabase's CDN cache for public URLs of replaced files with same name"
### Discussed in https://github.com/supabase/supabase/discussions/5737

# Feature request

## Is your feature request related to a problem? Please describe.

When you use a storage item's public URL, but the file with the same name got replaced (e.g. via `supabase.storage .from("...").upload("...")`, the CDN (Cloudflare) cache is still active.

## Describe the solution you'd like

It would be nice

[2022-03-02 00:23] GaryAustin1 opened #116 "Storage download (storage.from.download url) is cached in the CDN even for deleted file"
# Bug report

It is desirable to cache image and some file urls.
The storage download function though seems more like a database call to get the file data from the database/storage system.
A deleted file from storage (no object and data) will still download when called with supabase.storage download.
Cache busting with ?bust=123 in the path provided to download does return 404.
The download url do

[2022-03-03 18:32] DriesCruyskens opened #118 "Add function to get filePath from publicUrl"
# Feature request

## Is your feature request related to a problem? Please describe.

The `storageFileApi` class has a function to convert file paths to public url's. These urls are very simple and just concatenate the file path with some fixed strings. When deleting a file however, you need the path again.

## Describe the solution you'd like

Instead of having to save the file path separately or

[2022-03-06 17:26] GaryAustin1 opened #119 "A bucket named "public" will fail download of files with 404."
# Bug report
If you create a bucket called "public", using the download command in the UI and doing a storage.from.download from the API will return 404 for any files.
Public URL works as expected if a public bucket.

Probably related:
https://github.com/supabase/storage-api/issues/22

## Describe the bug

using
[code]
GET `https://instanceid.supabase.co/storage/v1/object/public/shot.jpg` **404**

[2022-03-07 23:10] qiandongyq commented on #86
any updates on this issue? I have the same issue that the file is only 15 bytes use formidable in nextjs

[2022-03-08 07:26] thebengeu commented on #86
@qiandongyq would you be able to provide a sample of your code please?

[2022-03-09 02:50] thebengeu commented on #119
@inian #24 was intended to fix this, seems like https://github.com/supabase/storage-api/blob/1e55aa38e8572dfb399527e033edfa8e86f86a01/src/routes/object/getObject.ts#L103 was added but [`from.download()`](https://github.com/supabase/storage-js/blob/4b015f645153711481d5576744a4b35cf862fb49/src/lib/StorageFileApi.ts#L276) wasn't updated, so using that new route should fix this issue?

[2022-03-10 01:25] grschafer opened #122 "Allow forcing a file to download instead of opening in the browser"
# Feature request

## Is your feature request related to a problem? Please describe.

I have json files uploaded in supabase storage and I provide presigned links to them in `<a>` tags in my webapp. Currently, when users click on these links, they are navigated to the json file, which displays in the browser. I would prefer clicking on the link to instead pop up a "Download file" prompt and leave

[2022-03-10 04:41] thebengeu commented on #122
Thanks for the detailed feature request. I think that it might make sense to support both options, just like how the AWS SDK does. I'd probably be able to get to this in early April.

[2022-03-10 06:24] thebengeu commented on #16
Resolved with supabase/supabase#5597, #75 and #76.

[2022-03-10 06:24] #16 closed

[2022-03-10 14:36] Chaphasilor opened #126 "Allow us to backup or download a copy of our Supabase Storage"
# Feature request

## Is your feature request related to a problem? Please describe.

Right now, the dashboard only allows you to download individual files from a bucket, you can't download the entire bucket or even a folder, and there's no way to access to underlying S3 bucket to do this manually.

## Describe the solution you'd like

I would like to have three options here, if possible:

- Allow

[2022-03-16 15:51] joshenlim opened #124 "List endpoint to return folders first, followed by files"

[2022-03-20 14:40] inian opened #125 "Clean up after s3 errors"
If S3 upload is not completed properly, we return the correct error code to the client. But the row in the storage.objects table is not cleaned up.

[2022-03-29 15:48] ffabss opened #267 "Storage: header if-modified-since being ignored"

[2022-03-31 23:41] Phantomat0 commented on #86
Same issue here, every file is 15 bytes and following the URL leads to an object.

[2022-04-01 01:34] qiandongyq commented on #86
@Phantomat0  Hi, I already slove the issue. Here is an example

[code]

[2022-04-01 02:12] Phantomat0 commented on #86
@qiandongyq Wow man, you are a life saver! I've been dealing with this problem the entire day. Worked like a charm, except I had to rename a few things like instead of "originalFilename" to just "name" and "filepath" to "path". It's all working now, thanks!

[2022-04-05 14:29] riderx opened #131 "Allow generate upload URL"
# Feature request

in my soft https://capgo.app i have made a CLI tool to allow users to upload version to the tool.
To connect to the account in the cli i have created apikey and Netlify cloud function, for upload the CLI, it send to the cloud function and then to supabase.
So a good solution could be allow retrieve upload url as download url to send it from my cloud function to the cli and uploa

[2022-04-06 08:19] alaister commented on #131
Hey @riderx,

Do you think it would be possible to close this in favour of #81? Is there anything you require that isn't covered by that issue?

[2022-04-06 09:58] riderx commented on #131
Oh, I missed it! This is precisely what i need!

[2022-04-06 09:58] #131 closed

[2022-04-07 07:57] nereolopez commented on #116
Hi,

we face the same issue but in a different use case. We store expense tickets under the user folder being the name of the file the `id` of the expense. If for any reason the ticket gets replaced with a new image, the name of the file will be exactly the same `expense_id.jpeg`, so due to that cache of Supabase, when trying to access the preview of the ticke through the `storage.from().download(

[2022-04-07 16:37] nereolopez commented on #116
Hi @GaryAustin1, thanks for the answer. So, if I understand correctly, you mean to append it to the path like below being the number the current timestamp?

[code]

[2022-04-07 16:57] GaryAustin1 commented on #116
That should work, pretty sure based on my submit that is what I did.  The browser and CDN will think it is a new file.  I would only use it though when you know you need immediate feedback as if you do that everywhere you will never cache images, etc.

[2022-04-07 19:20] nereolopez commented on #116
Thanks @GaryAustin1. I just did the changes and seems to work. In this specific scenario, it is ok for me to not cache it as it is very unusual to replace a scan. Thanks!

[2022-04-08 03:35] jet10000 opened #133 "Storage upload file bug"

[2022-04-08 03:40] oarsoy commented on #86
I still cannot figure it out. Is it possible to share the client side as well?

[2022-04-08 06:26] thebengeu commented on #133
Thanks for the bug report @jet10000! We'll take a look.

[2022-04-09 09:45] rahul3v opened #134 "Make object upload size limit at bucket level configurable"
# Feature request
Make object upload size limit at bucket level configurable (**even batter if you extend it to folder level**)

## Is your feature request related to a problem? Please describe.
It will help one to limit users to uploading a limited file size to a bucket/folder, (**as an example profile pics, max needed 1MB**)
**Since frontend file limit check can be bypassed** via some tools, so

[2022-04-09 17:56] Phantomat0 commented on #86
@oarsoy I actually did not implement this client side yet, just testing using postman so I could set up the API route, but it worked there. Im guessing it would be something like

[code]

Also important note in the example above, you need to name "files.file" to whatever key you are using in your form data. For example if you did:

[code]

instead of doing "files.file" you would do "files.imageFil

[2022-04-09 18:14] qiandongyq commented on #86
@Phantomat0
My clinet use react-dropzone, but you can use native html file upload, in the end, you will send the file to the server API

EX:
FileUploader component.
[code]

Submit handler
[code]

[2022-04-09 18:18] qiandongyq commented on #86
@Phantomat0 sorry, I'm replying to the wrong person.
@oarsoy Please see my comment above

[2022-04-11 05:22] bernardomichel opened #135 "Connect storage to external AWS S3 bucket"
# Improve documentation

## Link
https://github.com/supabase/storage-api

## Describe the problem

We want to help everybody who wants to hosting their own storage module. In our case, we need to connect a k8s self hosted supabase deployment with an AWS S3 bucket. When we surfing the documentation, we facing at a link to how we can create a IAM User to access through aws-cli or aws-sdk, but we nev

[2022-04-11 18:21] brikiernan commented on #86
@qiandongyq Thanks so much for posting your solution!!

This was the key line for me:
` const rawData = fs.readFileSync(files.file.filepath);`

I was using the filepath as a string and not as a buffer. Using it as a string was actually working on Cloudinary but not supabase storage which is interesting. So it was just adding to supabase storage as the actual filepath and not the actual file.

Than

[2022-04-12 08:30] rahul3v commented on #116
Well, In that case you can store something as **update_time** under your Database, (as we prefer to do, when we update anything...right !), and use that as a reference under any image url (let say `<Image_url>?t=<update_time>`), that will reduce a lot many hits, and also able to use cached file

[2022-04-12 11:03] rahul3v commented on #133
@thebengeu @jet10000
As per now for both `objectName` and  `bucketName` ,  supabase only allow s3 safe characters as per AWS guideline
[code]

[2022-04-12 13:25] 413n commented on #120
That would be a really good feature to avoid workarounds to bust the cache on file update! +1

[2022-04-14 08:25] alaister commented on #133
S3 supports UTF-8 characters in filenames. However, at the moment, we are very strict with which filenames we allow.
I think this is a valid use case to add support for different languages in filenames.

One option is to update the `isValidKey` function https://github.com/supabase/storage-api/blob/9480891af024396c58045578d16c91778aae67d2/src/utils/index.ts#L76-L80 to allow everything aside from th

[2022-04-21 09:56] philanton opened #140 "File integrity"
# Bug report

## Describe the bug

After uploading/downloading file's size and content doesn't remain the same.

## To Reproduce

Lets assume that bucket is already created, then the next steps are:

![DeepinScreenshot_select-area_20220421123106](https://user-images.githubusercontent.com/66011711/164425724-fa602b7e-a749-4067-91d3-7466ce9aa585.png)

So from the image you can see that original image

[2022-04-25 04:50] thebengeu commented on #140
That's odd, from https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObject.html: "Amazon S3 never adds partial objects; if you receive a success response, Amazon S3 added the entire object to the bucket."

Is there any way to duplicate this issue? If it's random, how often does it occur?

[2022-04-25 12:35] philanton commented on #140
Hello @thebengeu, I've tested few times, but integrity issue wasn't due to S3, after I switched back to `file` issue was reproduced the same way

[2022-04-25 12:57] darora commented on #140
@philanton this service is extensively used and we haven't had any reports of this. I can't reproduce this in a quick spot check just now either.

Based on a quick glance, I'd say your usage of the `-d` flag for your curl upload is likely the source of the issue. Please use the `--data-binary` flag instead and let us know if you're still able to reproduce the issue.

[2022-04-25 12:57] #140 closed

[2022-04-25 19:28] riderx commented on #81
I have the same issue for https://capgo.app i allow users to upload from my CLI with a apikey, so not logged in in the CLI.
my current solution is to split the file in chuck of 1mb to upload in loop and edit the file in storage but it often fail for big files: https://github.com/Cap-go/capgo-cli/issues/12

[2022-04-26 03:54] #67 closed

[2022-05-03 11:53] rahul3v commented on #134
@kiwicopple, Any comments...!

[2022-05-03 19:27] mashpie commented on #80
…been investigating a fastify implementation.

ended up with something like https://github.com/tus/tus-node-server/issues/241

[2022-05-23 07:37] alaister commented on #134
Hey @rahul3v,
Really sorry for the delayed response - we've been busy!

We discussed this in our most recent storage meeting, and we think it's a great idea!

I've added it to our internal to-do list but can't give you any timeline on when this might be implemented.

Thanks again, and as always, PRs are welcome :)

[2022-05-24 13:14] rahul3v commented on #134
@alaister,  if possible **extend it to folder level** :)

[2022-05-26 05:08] inian opened #141 "Fix crash in aws sdk"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24300%20Funded-%2300A156.svg" />](https://issuehunt.io/r/supabase/storage-api/issues/141)

We have seen some crashes because of [this issue](https://github.com/aws/aws-sdk-js-v3/issues/2843) in the aws-sdk.

I have been able to reliably reproduce this issue using [this script](https://github.com/nodejs/node/issues/39671#issu

[2022-05-29 09:26] He1nr1chK commented on #23
Has any progress been made on this issue yet? Not work arounds but official support?

[2022-06-01 19:51] vbylen commented on #47
auto asset optimization would be a killer feature

[2022-06-09 10:55] roker15 commented on #86
What with typescript?
`originalFilename `property does not exist, it shows

[2022-06-10 04:48] Phantomat0 commented on #86
Just add the types.

[code]

[2022-06-10 05:24] roker15 commented on #86
you can not do this, as `formidable.File` can not be cast as File. I have tried.

Here is the lint
[code]

[2022-06-11 04:32] Phantomat0 commented on #86
Use the File type from formidable, not from Node. You can tell you're using the Node File type since "name" doesn't exist on formidable Files, but rather "originalFilename". This implies you're using the @types package from formidable btw.

Import the types as so:
[code]

[2022-06-14 00:13] Almaju opened #143 "Docker: The upstream server is timing out"
# Bug report

## Describe the bug

I am trying to implement supabase in a self-hosted environment.
I could not make the storage work in a remote VPS.
I get "The upstream server is timing out" when trying to upload a file.
The entries are correctly created in the database `storage.objects` though.

## To Reproduce

I used the default docker-compose.yml from the doc with `STORAGE_BACKEND: file`. My

[2022-06-14 23:45] nsursock opened #144 "Unable to upload image to storage using Vercel's serverless (not using NextJS)"
# Bug report

## Describe the bug

Since using vercel's serverless functions, I'm not able to upload images to storage. Used to work when only having a frontend but I had to use an API to hide my supabase credentials. I'm using 11ty and Alpine. Strangely, even though no image is uploaded, there are no error messages.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets o

[2022-06-19 23:44] burmecia commented on #141
This issue was caused by code reentrant in Node.js http parser, this PR (https://github.com/nodejs/node/pull/43369) is in progress to fix this issue.

[2022-06-21 09:34] iampopal commented on #23
Any progress on this, we need this on flutter supabase package too

[2022-06-21 21:20] scottymack opened #150 "Support for optional S3 Credentials"
# Feature request
Support for S3 [Signature Version 4](https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html) specifying of `access key ID` and `secret access key`.

## Is your feature request related to a problem? Please describe.
When connecting a self-hosted Supabase to a Backblaze S3 compatible bucket for storage, it requires that I pass the `access key ID` and `secret access

[2022-06-22 23:50] burmecia commented on #141
Upstream node.js has fixed this issue in https://github.com/nodejs/node/pull/43369, should we follow it up?

[2022-07-01 07:48] alaister commented on #124
Solved in #127

[2022-07-01 07:48] #124 closed

[2022-07-01 07:49] alaister commented on #88
Solved in #127

[2022-07-01 07:49] #88 closed

[2022-07-05 13:17] eric-naguras opened #155 "storage update results in "The resource was not found""
# Bug report

## Describe the bug
When I try to update a file, basically replacing the content but keeping the same file name, I get an error "The resource was not found".

## To Reproduce

1. I get a file using a file input element.
2. I assign a name to a name variable
3. I upload the file to storage with:
[code]
4. I get another file with a file input element
5. While using the same file name,

[2022-07-13 22:56] tonyneel commented on #118
I think this is a very common use case and would be helpful to have built

[2022-07-14 16:32] scottymack commented on #150
You can set the `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` in order to get these credentials set on the `S3ClientConfig`.

[2022-07-14 16:32] #150 closed

[2022-07-19 08:49] bnjmnt4n commented on #86
Closing this, since there doesn't appear to be an issue on the storage API side, and the original error was due to uploading the filepath instead of the actual file contents when using formidable.

[2022-07-19 08:49] #86 closed

[2022-07-20 02:36] #125 closed

[2022-07-20 15:55] NeoGold-Dev commented on #135
Can we also choose our own endpoint?

[2022-07-21 18:52] KolbySisk opened #166 "Batch upload & download"
# Feature request

## Is your feature request related to a problem? Please describe.

I'm building an app where users upload images, and then the images are rendered on a page in a grid. Think Instagram. Right now it's very slow as there is no way to upload and download in batch. Instead, when downloading, I have to get bucket list, and make a new request to download for each.

## Describe the sol

[2022-07-22 04:12] KolbySisk commented on #166
I see, that makes sense. I normally don't download files in this way. When I've used S3 in the past I was able to access images by url - is that a possibility?

[2022-07-22 04:18] inian commented on #166
Yup you can create [a signed url](https://supabase.com/docs/reference/dart/storage-from-createsignedurl) for private buckets or a [public url](https://supabase.com/docs/reference/dart/storage-from-getpublicurl) for public buckets if you just want to access assets via a url

[2022-07-22 04:30] KolbySisk commented on #166
Pays to read the docs 😅

Thanks for your help

[2022-07-22 04:30] #166 closed

[2022-07-25 01:19] rlee1990 commented on #134
This would be awesome. Having the max storage size for all buckets set to one size is rough.

[2022-07-27 07:39] bnjmnt4n commented on #141
Closed via #167.

[2022-07-27 07:39] #141 closed

[2022-07-28 17:13] milesingrams opened #173 "Improvements to storage API to allow for recursive deletes and database-level access"

[2022-07-29 09:11] inian commented on #122
Hi @grschafer, can this be solved by adding the `download` attribute to the anchor tag instead?

[2022-07-29 15:55] grschafer commented on #122
Hey @inian, the `download` attribute wasn't a good solution when I last tried it -- see bullet points 1 and 2 under the "Describe alternatives you've considered" heading in my original issue post.

[2022-08-01 05:48] bnjmnt4n commented on #155
Hi @eric-naguras! Do you have any RLS policies added for storage objects? The "The resource was not found" message when performing the update of an existing object seems to indicate that you've added policies to permit INSERT of new objects, but not UPDATE of existing objects.

[2022-08-01 05:51] bnjmnt4n commented on #144
Hey @nsursock! From a cursory glance at your code, you don't seem to be awaiting the promise returned by `storage.from(...).upload(...)`. This means that Vercel can terminate the serverless function after you send a HTTP response without waiting for the storage upload to complete. Could you try `await`ing the promise?

[2022-08-09 06:51] huntedman opened #175 "Documentation for downloading/uploading to storage is wrong"
# Bug report

## Describe the bug

Documentation [for storage](https://supabase.com/docs/guides/storage) instructs you to create a bucket "avatars" and make it public.

I did and uploaded an image in it.
<img width="1668" alt="Screenshot 2022-08-09 at 09 42 30" src="https://user-images.githubusercontent.com/7933242/183582015-61f1e3fb-3d4d-43b0-932c-5fa6b76e50e7.png">

Now when I want to download t

[2022-08-09 22:21] caseycrogers opened #266 "Add `exists` method to storage"
I would like to be able to check if a file exists in Supabase storage without having to download it:
`final bool fileExists = await supabase.storage.from('some-bucket-id').exists('/some/path');`

[2022-08-11 09:34] xenirio opened #177 "JWT verify return an invalid algorithm for JWT Token signed with RS256"
# Bug report

## Describe the bug

I've got a problem when I try to upload a file with `storage-api`.
The JWT token in my platform signed with `RS256` algorithm. Here is an error

[code]

## To Reproduce

1. Generate secret/keys of supabase with `RS256` algorithm.
2. Make a request to `storage-api` of subapase deployment.

## Expected behavior

The storage should be successful with file uploaded.

[2022-08-13 03:56] vab1997 commented on #111
I have the same as problem, is there any solution for this problem?

[2022-08-14 09:12] bnjmnt4n commented on #175
Hey @huntedman! If you're following the instructions, the "download a file" JavaScript instruction actually corresponds to the one from the "upload a file" JavaScript instructions (https://supabase.com/docs/guides/storage#upload-a-file), so if you upload a file with a different name and folder, the instructions won't correspond.

Since you seem to have uploaded a file to the root in the `avatars`

[2022-08-14 09:12] #175 closed

[2022-08-24 18:47] saltcod opened #196 "Storage list sort order"
Sequential numerical filenames don't sort properly.

In Storage, if we have if we have 1.png, 10.png, 11.png, ..., 2.png, 20.png, 21.png,
In Finder on Mac, these items would be sorted: 1.png, 2.png, 3.png, ... 10.png, 11.png, etc.

**Storage on top, Finder on bottom:**

<img width="329" alt="CleanShot 2022-08-24 at 16 16 23@2x" src="https://user-images.githubusercontent.com/105593/186498692-c852fd

[2022-08-25 11:04] fenos commented on #173
Hi @milesingrams interesting idea!

There are 2 features that I can see you are mentioning here:

1) Nested deletes
2) Automating deletes via triggers

### Nested Deletes
This is indeed a current limitation where you'd need to list all the files and send a delete request for each, probably with a batching endpoint we could alleviate the request number.

However, something to consider as you mentio

[2022-08-25 15:50] fenos commented on #81
Hello!
Apologies for the late reply,

I really like the idea of a signed URL for upload, I will add this to the backlog for discovery & prioritization

[2022-08-26 13:43] riderx commented on #81
@fenos thanks for that, for me i don't need anymore the feature since i was able to do do APIKEY check with RLS

[2022-08-28 22:48] kfields commented on #81
That would be very much appreciated.  Thank you.

[2022-08-31 18:46] qiushiyan opened #186 "Allow customizing `content-type` when file is`text/html`"
This [line](https://github.com/supabase/storage-api/blob/3cd3c912819b4cfe1f05fd9d8bc1a68a8fd800c8/src/utils/index.ts#L85) forces the response content type to be `text/plain` when the object is of type `text/html`. It would be nice to have a customizable option. My use case with storage is storing some user-generated html files, and this blocks me from getting the actual rendered page but the html

[2022-08-31 19:47] PiddePannkauga commented on #133
I would love support for å,ä,ö.

Love from Sweden

[2022-09-06 20:14] Heath101 commented on #122
Looking forward to this feature!

[2022-09-06 21:00] JulienLecoq commented on #126
I would love to see a way of doing backups of our Supabase Storage too :)

[2022-09-07 12:29] guizmo51 commented on #135
Hey,
What's about the AWS CLI?
Shoul I go manually inside the container to download it and set the credentials ? I think this method isn't the best ...

[2022-09-07 12:40] darora commented on #135
You can use any mechanism supported by the aws sdk, which are documented at https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/configuring-the-jssdk.html

In this specific scenario, you could use e.g. environment variables on your container definition. Or if you're using EKS, you can use https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html as well.

[2022-09-07 12:40] #135 closed

[2022-09-11 08:15] inian commented on #186
Hey @qiushiyan are you self hosting storage-api and want this to be configurable?

[2022-09-13 17:58] kylerummens opened #189 "Downloading file from supabase-js returns empty response"
# Bug report

## Describe the bug

If I try to download a document in a public bucket from the supabase dashboard, it downloads correctly. But if I try to download the same document from my app using supabase-js, the response content is empty.

Like I mentioned, the bucket is public, so RLS shouldn't be an issue. Also I've verified that the file path is correct, given that it isn't throwing a "not

[2022-09-14 04:04] darora commented on #189
Closing as this is being worked on via a support ticket. Will re-open if we isolate a bug or reproducible example within the storage service.

[2022-09-14 04:04] #189 closed

[2022-09-17 02:50] jianhan opened #190 "Forwarding extra headers when creating postgrest client"
# Feature request
A configurable way that allows the extra headers to be forwarded / carried over when creating postgrest client.
## Is your feature request related to a problem?
No

A clear and concise description of what you want and what your use case is.
When implementing row-level policy in [supabase](https://supabase.com/docs/guides/auth/row-level-security), I need extra headers to be forwar

[2022-09-19 07:28] ikhsan opened #193 "Browser never use cache when requesting image from storage"
# Bug report

## Describe the bug

The public url from storage responds with etag and last modified headers. The problem is that subsequent calls will never get 304 response, as if it ignores the etag and the last modified headers.

## To Reproduce

**1st call**

[code]

**2nd call (or subsequent calls)**

[code]
## Expected behavior

Subsequent calls from client with etag and last modified header

[2022-09-26 01:01] GaryAustin1 opened #194 "Deleting last file in the root of a bucket creates and leaves forever an empty folder placeholder."
# Bug report

## Describe the bug

If a bucket has one file and you delete it thru the Dashboard UI a fake empty folder placeholder is generated.
![image](https://user-images.githubusercontent.com/54564956/192173998-ac8be620-8165-47d6-bba0-73ab93eb037a.png)

If a new file is added, the fake placeholder stays around.  This is different than adding a file to a non-root folder in that the place holde

[2022-09-26 13:04] fenos commented on #38
Duplicate [#12](https://github.com/supabase/storage-api/issues/13)

[2022-09-26 13:55] fenos commented on #143
what path are you trying to write the file to?
did you mount a persistent volume?

[2022-09-26 13:57] fenos commented on #111
Hello @ahmedabdelhafez and @vab1997 we would need to see the RLS you created for the DELETE operation.
Feel free to paste it here, we can help you to debug further

[2022-09-26 14:00] fenos commented on #155
Closing for inactivity, feel free to reach out if needed further assistance

[2022-09-26 14:00] #155 closed

[2022-09-26 14:12] inian commented on #38
Ah yup, thats a duplicate 👍🏽

[2022-09-26 14:12] #38 closed

[2022-09-26 14:13] fenos commented on #144
Closing for inactivity, feel free to reach out if needed further assistance

[2022-09-26 14:13] #144 closed

[2022-09-26 14:29] fenos commented on #107
Hello @grschafer I've tried to reproduce the problem you are mentioning without luck.
The delete endpoint works as expected when using the file storage type.

What version of node are you using?

Could you provide an example repo?

[2022-09-26 14:30] fenos commented on #13
Duplicate of https://github.com/supabase/storage-api/issues/81

[2022-09-26 14:30] #13 closed

[2022-09-26 14:38] fenos commented on #119
From my tests this seems to be fixed, closing

[2022-09-26 14:38] #119 closed

[2022-09-26 14:47] fenos commented on #68
Yes the above solution will work nicely, just don't forget to add the the `authenticated` owner to the view for RLS to work

[code]

[2022-09-26 14:47] #68 closed

[2022-09-26 16:38] grschafer commented on #107
This no longer repros for me either using the latest version of storage-api. I'm guessing it was resolved by upgrading fs-extra from 8.1.0 to 9.1+, which includes support for rm: https://github.com/jprichardson/node-fs-extra/blob/master/CHANGELOG.md#910--2021-01-19

[2022-09-27 04:23] inian commented on #107
Great! closing the issue.

[2022-09-27 04:23] #107 closed

[2022-09-28 13:37] fenos commented on #116
Closing as the current solution is to use a query string parameter to bust the cache.
We'll make more improvements and automating the cache busting in the near future #120

[2022-09-28 13:37] #116 closed

[2022-09-29 14:38] fenos commented on #122
PR is up - this feature will land shortly! 🎉

[2022-09-30 08:11] #122 closed

[2022-09-30 08:37] #110 closed

[2022-09-30 14:16] fenos commented on #196
This is expected, as the ORDER BY clause on a string in Postgres does not take into account the number cardinality, I would recommend sorting by `created_at`.

Alternatively, if the formatted order is important you can always create an RPC function that will allow you to normalize the string and sort by the numeric value

for example:

[code]

[2022-09-30 14:16] #196 closed

[2022-10-03 03:07] xenirio commented on #177
@fenos I've updated my PR by remove `PGRST_JWT_SECRET_IS_BASE64`.
Please check.

Thank you.

[2022-10-03 08:44] inian commented on #193
Hi @ikhsan, I can confirm that your PR fixes the issue. The fix should be deployed to prod in a day or two.

[2022-10-03 08:47] ikhsan commented on #193
Awesome, I'll test again in 2 days 👍

Hopefully, this prevents your customers (including me!) from overcharging storage egress

[2022-10-05 07:00] inian commented on #193
Hi @ikhsan this fix has been deployed to prod now. Thanks for reporting and the PR!

[2022-10-05 07:00] #193 closed

[2022-10-05 08:55] ikhsan commented on #193
Glad that it works! Hopefully, this will make the storage egress calculation fairer 👍

[2022-10-05 10:05] Nisthar commented on #23
progress events are much needed when uploading large files.

[2022-10-05 13:36] Nisthar commented on #23
What is the `supabase._getAuthHeaders()` method you are using?

[2022-10-05 13:48] Nisthar commented on #23
idk why but my upload using this code is very slow.

[2022-10-07 13:55] zucatti opened #201 "The extended attribute does not exist."
# Bug report

## Describe the bug

Can't access my file after a move action

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

- create a file
- read the file OK
- Rename the file via /object/move
- the file is renamed well
- read the file again -> 400 : The extended attribute does not exist.

## Expected behavior

Read the file

## System information

[2022-10-10 18:12] iampopal commented on #23
We need this on Flutter Package!!!

On Wed, Oct 5, 2022, 6:18 PM Nisthar ***@***.***> wrote:

[2022-10-10 20:24] RyanTippsTX opened #207 "enable from.remove() to delete folders"
# Feature request - delete folders

## Is your feature request related to a problem? Please describe.
With supabase storage, folders are deleted automatically when their contents are deleted, but there's no way to delete a whole folder at once, and there's no (clean) way to delete empty folders.

## Describe the solution you'd like

I would like for this to work:
[code]

## Describe alternatives y

[2022-10-12 12:55] fenos commented on #201
Hello @zucatti are you using the S3 backend?

[2022-10-12 13:05] zucatti commented on #201
Hello, no, just the file storage with longhorn volume readwriteonce on à kubernetes infra. Every upload work great but a move or copy operation leads to this error… delete work fine too
Le 12 oct. 2022 à 14:55 +0200, Fabrizio ***@***.***>, a écrit :

[2022-10-12 13:06] bennik88 commented on #65
Did anyone figure out how to delete all the storage data for a user when the user is being deleted?
I tried it with a `BEFORE` `TRIGGER` and a function that would delete all storage objects before the user is being deleted but its still failing because of a foreign key constraint error.
[code]

[2022-10-13 08:37] zucatti commented on #201
replying to my own thread ;-)
fix the error with this :
try {
    const cacheControl = await this.getMetadata(file, 'user.supabase.cache-control')
    const contentType = await this.getMetadata(file, 'user.supabase.content-type')
} catch(e) {
    const cacheControl = ''
    const contentType = ''
}

[2022-10-13 13:40] zucatti commented on #201
EDIT:
A copy or move operation does not include the xattr user.supabase.content-type (and cache control)
The result is that the copied/moved file does not have the attribute (cache control and content type) resulting in "the extended attribute does not exist" error when you try to download/read it.
The solution is to read the metadata from the original file and setMetaData to the destination file

[2022-10-14 02:58] inian commented on #201
Hi @zucatti, preserving the metadata on copy and move for the file system backend seems like a bug we can fix. Reopening.

[2022-10-21 10:25] fenos commented on #207
Hello @RyanTippsTX thanks for the feature request!
This is something we are exploring and are very eager to implement in near future.

We are just finalizing a few requirements before we get there, for example, we'll need a queue-worker implementation for this to be working reliably.

The good news is that we are already building another feature that requires queue workers, so this will be the nex

[2022-10-21 15:34] DeabitTech commented on #23
yeah never i can upload file of up to 90mb , fix it please

[2022-10-22 06:51] activenode opened #210 "Make Storage API consistent and more useful"

[2022-10-25 09:49] jianhan commented on #190
issue closed as per https://github.com/supabase/storage-api/pull/191

[2022-10-25 09:49] #190 closed

[2022-10-25 12:33] fenos commented on #201
This is now been fixed with the refactoring work

[2022-10-25 12:33] #201 closed

[2022-10-26 11:28] rrrepos opened #213 "The from.download() method doc seems to have an error"
The following is from the documentation

[code]
However this seems to always return the data as null even if the file exists and policies are set right

But the following seems to work

[code]

[2022-10-27 14:29] 413n opened #214 "Seed Storage Files"
# Feature request

## Is your feature request related to a problem? Please describe.

I have some static images that I need in every environment. I would like to have them in the `storage`, but at the moment I have to insert them manually one by one using the `storage-js` client.

## Describe the solution you'd like

Is there a way to seed files/images inside the storage without the `storage-js` c

[2022-10-28 23:41] Hussseinkizz commented on #155
For anyone facing this issue despite having everything right in code, make sure you have the right RLS policies set and that all operations are allowed for such policy. Do that as you set the policy!

[2022-11-02 18:18] isaiasmatewos commented on #23
In case someone is still interested, use this function downloads files from Supabase storage and tracks download progress:

`Future<void> _downloadFileWithProgress(Map<String, String> headers,
      String bucketId, String path, File downloadPath) async {
    try {
      setState(() {
        _downloading = true;
      });

      final _path = _getFinalPath(bucketId, path);
      final options = F

[2022-11-02 18:23] isaiasmatewos commented on #23
In case someone interested, I wrote this function to download from Supabase storage and track download progress:

https://gist.github.com/isaiasmatewos/c15c4d75ce501437bd2be6eea6d0acb9

[2022-11-03 03:50] madeleineostoja commented on #207
Excellent to hear @fenos, this is a pretty basic requirement and I was surprised to see it's not implemented. Passing every file in a folder to `remove` in a single array call feels error prone, especially in folders with large numbers of assets.

Do you have any rough ETA for this, and is there a beta waitlist I can go on?

[2022-11-03 07:26] chitalian commented on #81
+1 would really like this

[2022-11-03 08:05] stefroussos opened #247 "Change a file's owner in storage.objects"
I've been searching for a way to change the owner of a file in storage.objects from the SupabaseClient and can't find a way. The closest solution I found was to make it null after the user is deleted (via [https://github.com/supabase/storage-api/issues/65](https://github.com/supabase/storage-api/issues/65)).

I would like the ability for an admin user to change / transfer the ownership of a file t

[2022-11-04 07:17] riderx commented on #81
i updated my comment for people who wanted the apikey system as me

[2022-11-04 10:40] fenos commented on #210
@activenode Hello!
Thanks a lot for your feedback!

Here are some of my thoughts regarding your suggestions:

1. The reason we currently return the `Key` as the response is that all the information is already available in your input request, like bucketId etc... However, I agree that semantically would be better to follow a response, and having more resource-oriented fields returned could be nicer

[2022-11-04 11:45] activenode commented on #210
1 + 2. Thanks, that would be nice
3. Perfect
4. Good approach but I'm not sure if it solves it because in my current understanding one needs Select access to the `objects` table implicitly to be able to access the files? Right or Wrong? If right then it would mean that even if I created a view (which isn't protectable via RLS and hence I would need the Secret Key since I would have to revoke all a

[2022-11-04 14:31] fenos commented on #214
@413n hello,

In order for me to give you more information I would need to understand more in-depth the way you are provisioning environments and if you are using the self-hosted version of storage-api and which backend driver (s3 / file)

Although, at the first glance I don't see the problem of having a script that uses storage-js to upload files as a seeder.
Could you explain the limitation that

[2022-11-04 15:52] fenos commented on #210
1 + 2 + 3 .  🎉 Will keep you posted

4. Yes, you are right, in order to apply RLS policies to a view they must be granted also to the table that the view is based on.

We are discussing this internally to see if we can find a clean way to blacklist certain columns depending on the user `role` once i hear something back from our Postgres team I will be able to tell you more

For now, one solution t

[2022-11-04 16:27] fenos commented on #210
Just received this link from our postgres team and they've told me that custom RLS on views are coming very soon to Postgres
[https://www.depesz.com/2022/03/22/waiting-for-postgresql-15-add-support-for-security-invoker-views/](https://www.depesz.com/2022/03/22/waiting-for-postgresql-15-add-support-for-security-invoker-views/)

[2022-11-05 17:56] activenode commented on #210
One additional note: I am still trying to understand the thought processes behind the storage architecture. The `public` storages can be accessed publicly which is okay for the assets themselves since most often image names are being hashed and put into non-guessable directories such (that's a common CDN pattern).

Hence: In common CDN cases other users cannot "simply guess" files from other users

[2022-11-05 18:01] activenode commented on #210
Take all of this with a grain of salt I might have something misconfigured and I'm questioning if what I said is true, if any. But is there a good description on the docs what is accessible with a public bucket and what not?

[2022-11-06 14:19] activenode commented on #210
Okay once more: I understood that if you do not have the select rights you cannot list the files in the bucket - which conceptually was hard to understand since the Policies imply that access to a bucket mean access to download/list etc. but apparently you can also give public buckets select rights such that everyone will still able to download but not everyone can list, correct?

[2022-11-07 06:37] chitalian opened #216 "Localhost storage is not passing headers to destination"
# Bug report

## Describe the bug

When developing in locally the headers that are passed to `http://localhost:54321/storage/v1/` do not get forwarded to the postgres which makes custom auth impossible to test locally. Please forward custom headers!

## To Reproduce

run `supabase start` then do the following
[code]

[code]
The following python will dump out the headers that get passed to the data

[2022-11-07 07:30] chitalian commented on #216
Edit - I tested this with Typescript on and on a demo server and the issue persists.

Here is an example of all the headers I send in my request
[code]

Here is a list of headers that are actually received
[code]

[2022-11-07 09:45] fenos commented on #216
@chitalian Hello!

You can specify the newly introduced environment variable `POSTGREST_FORWARD_HEADERS` in your `.env` file in order to forward custom headers to postgrest

[code]

let me know if that helps

[2022-11-07 21:34] chitalian commented on #216
@fenos also how would i define these headers in prod?

[2022-11-14 17:38] sduduzog opened #217 "Make the port and host environment variables"
# Feature request
There's currently issue with services such as Fly.io as they try to connect with an IPv6 address and there's currently no way to bind
to `::` as the address `0.0.0.0` is hard coded

## Is your feature request related to a problem? Please describe.
When hosted on fly.io, fastify refuses connections

## Describe the solution you'd like
Introduce HOST and PORT as environment variabl

[2022-11-15 00:35] 413n commented on #81
+1

[2022-11-17 09:21] #217 closed

[2022-11-17 12:36] 413n commented on #214
@fenos Hey there, sorry for the big delay here.
I will try your solution and see if it fits the thing I'm looking for.
Feel free to close this. Eventually I will reopen it.
Thanks!

[2022-11-19 15:01] csmith opened #224 "Permission denied error after updating to 0.24.4/0.24.5"
# Bug report

## Describe the bug

After updating from 0.24.3 to 0.24.5, the following error occurs when starting the storage container:

[code]

After a lot of debugging, I think this is because 0.24.4 started using pg-boss, and pg-boss is attempting to run its own migrations which include a `CREATE SCHEMA IF NOT EXISTS pgboss` and the postgres account storage runs under (rightfully) doesn't have

[2022-11-19 15:14] csmith commented on #224
Also, the error message is super unhelpful - it doesn't provide any context to what was going on at the time, but I guess that might be an upstream issue with pg-boss more than anything else?

[2022-11-21 09:20] fenos commented on #224
Hello, @csmith  thanks for reporting the issue,
I haven't considered the fact that the DB user might not have the right to create the pg-boss schema

I will do the following to address this:

- Add pg-boss queue worker under a feature flag, so you can enable or keep it disabled if not necessary
- Add an environment variable for a specific connection string to pg-boss, this way you can create anoth

[2022-11-21 12:30] fenos commented on #224
Awesome! closing this

[2022-11-21 12:30] #224 closed

[2022-11-21 14:21] fenos commented on #214
Awesome, feel free to re-open with more info

[2022-11-21 14:21] #214 closed